body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



ul {
    list-style-type: none;
    margin: 0;
    padding-left: 100px;
    padding-right: 200px;
    padding-top: 20px;
}

li {
    float: left;
    font-size: 18px;
    color: #e5e7eb;
    padding-right: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
}


.Top {
    background-color: #1f2937;
}


.Sign-up {
    background-color: #3882F6;
}

.footer {
    background-color: #1f2937;
    color: #F9FAF8;
}

h2 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}


button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10%;
    border: none;
    width: 100px;
    height: 30px;
}

.Sign-up {
    color: #F9FAF8;
}

.Sign-up>button {
    border: 1px solid white;
}

.title {
    padding-left: 100px;
    display: flex;
    gap: 104px;
    padding-bottom: 80px;
}

.container1 {
    padding-top: 70px;
}

.Placeholder {
    padding-top: 40px;
}

.Placeholder>img {
    width: 500px;
    height: 250px;
    border: grey solid 1px;
}

.T1>p {
    color: #e5e7eb;
    margin-top: 0px;
}

.T1>h2 {
    margin-bottom: 0px;
}

.container2 {
    background-color: white;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
}

.images {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.images>div {
    font-size: 18px;
    font-weight: normal;
    width: 250px;
}

.images>div>p {
    margin-top: 0;
    font-weight: 100;
}

.quote {
    background-color: #e5e7eb;
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.Q1 {
    color: #1f2937;
    font-style: italic;
    font-size: 36px;
    align-self: center;
}

.Q1>p {
    width: 1000px;
    margin-bottom: 0;
    font-weight: 100;
}

.Q2 {
   width: 465px;
   align-self: flex-end;
   font-weight: bold;
   font-size: 18px;
}

